<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h6 style="text-align: right;"><a href="/">Log out</a></h6>
  <h1>Melody DB Artist Page</h1>
  <h2>{{data_names[0]}}</h2>
  <h4>Albums:</h4>
  <div>
    {% for n in data_album_names %}
      {% set outer_loop = loop %}
      {% for m in data_album_ids %}
        {% if outer_loop.index0 == loop.index0 %}
          {% for k in years %}
            {% if outer_loop.index0 == loop.index0 %}
              <a href = "/album_id/{{m}}">{{n}} ({{k}})<br></a>
            {% endif %} 
          {% endfor %}
        {% endif %} 
      {% endfor %}
    {% endfor %}
  </div>
  <p><a href="/index">Back to search</a></p>
</body>


</html>