<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h6 style="text-align: right;"><a href="/">Log out</a></h6>
  <h1>Melody DB</h1>
  <h2>Search:</h2>

<form method="POST" action="/search">
  <p>Search: <input type="text" name="name"> <input type="submit" value="Search"></p>
  <label for="type">Type:</label>
  <select name="type" id="type">
    <option value="artist">Artist</option>
    <option value="album">Album</option>
    <option value="song">Song</option>
    <option value="user">User</option>
  </select>
</form>
<div class="flashes">
  {% for message in get_flashed_messages() %}
    {{ message }}
  {% endfor %}
</div>
</body>


</html>
